/* IMPORTS - for better organize */
@import url("typography.css");
@import url("helpers.css");
@import url("navbar.css");
@import url("gallery.css");
@import url("editor.css");
@import url("font-awsome.css");

* {
  box-sizing: border-box;
}

/* OVERALL PAGE */
html {
  font-size: 16px;
}

body {
  background-color: #dfdfdf;
  margin: 0;
}

main {
  padding-top: 4.5rem;
}